@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --button-gradient: linear-gradient(0deg, #A47CF3 0%, #683FEA 100%);
  }
  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}